@charset "ISO-8859-1";


html, body {
    height: 100%;
}

body {
    margin: 0;
}

.flex-container {
	/*background-color:#cc99ff;
	background-image:
		radial-gradient(at 17% 37%, hsla(77,98%,75%,1) 0px, transparent 50%),
		radial-gradient(at 74% 0%, hsla(208,93%,72%,1) 0px, transparent 50%),
		radial-gradient(at 53% 40%, hsla(33,91%,71%,1) 0px, transparent 50%),
		radial-gradient(at 83% 84%, hsla(301,80%,61%,1) 0px, transparent 50%),
		radial-gradient(at 88% 39%, hsla(287,61%,79%,1) 0px, transparent 50%),
		radial-gradient(at 40% 60%, hsla(39,77%,70%,1) 0px, transparent 50%),
		radial-gradient(at 11% 14%, hsla(162,74%,61%,1) 0px, transparent 50%);*/
	background-image: linear-gradient(to top,  #FF8329  0%, #FFE53B  100%);
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 48px;
	margin: 32px 0px 64px 0px;
}

h3 {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	margin-top: 64px;
}

.column {
    width: 40%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background: rgba( 255, 255, 255, 0.2 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 0px );
	-webkit-backdrop-filter: blur( 0px );
	border-radius: 10px;
}

.column > input{
  text-align: left;
}

.credentials {
	margin: 0px 20px;
	height: 50px;
	width: 80%;
	background-color: #ffffff;
	border: none;
	border-radius: 25px;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	color: #5b5b5b;
	padding: 0px 25px;
}

button {
	background-color: #ffffff;
	border: none;
	border-radius: 10px;
	color: #000000;
  	padding: 8px;
  	text-align: center;
  	display: inline-block;
  	font-size: 18px;
}