<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Home</title>
		<link th:href="@{/index.css}" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"/>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
	</head>
	<div class="flex-container">
    	<div class="column">
    		<div>
    			<h1>Welcome to Meta!</h1>
    		</div>
			<form th:action="@{/login}" method="post">
				<div>
					<div th:if="${param.error}">
						<div class="alert alert-danger">Invalid username or password.</div>
					</div>
					<div style="margin: 0px 0px 20px 0px;">
						<h2 style="font-family: 'Poppins', sans-serif; margin: 0px;">Username</h2>
						<input class="credentials" type="text" name="username">
					</div>
					<div>
						<h2 style="font-family: 'Poppins', sans-serif; margin: 0px;">Password</h2>
						<input class="credentials" type="password" name="password">
					</div>
					<br>
					<button type="submit" style="font-family: 'Poppins', sans-serif;">Sign in</button>
				</div>
			</form>

        	<div>
        		<h3>Don't have an account?
        			<a th:href="@{/registration}" style="text-decoration: none;">Sign up</a>
        		</h3>
        	</div>
    	</div>
	</div>
</html>